<!--
    Main sidebar navigation
-->

{% assign NAV_LIST_PREFIX = "n_" %}
{% assign FOLDER_TRIGGER_PREFIX = "f_" %}

{% assign sidebar = site.data.sidebar_navigation.entries %}

<ul class="w-100">
    <!-- home -->
    <li class="nav-item{% if page.layout == 'home' %}{{ " active" }}{% endif %}">
      <a href="{{ '/' | relative_url }}" class="nav-link">
        <i class="fa-fw fas fa-home ml-xl-3 mr-xl-3 unloaded"></i>
        <span>{{ "HOME" }}</span>
      </a>
    </li>
    <!-- the real tabs -->
    {% assign entry_index = 0 %}
    {% for entry in sidebar %}
        {% assign page_url = page.url | remove: "/" %}
        {% if entry.url %}
            <!-- This is a direct nav link -->
            <li class="nav-item{% if entry.url == page_url %}{{ " active" }}{% endif %}">
                <a href="{{ entry.url | relative_url }}" class="nav-link">
                    <i class="fa-fw {{ entry.icon }} ml-xl-3 mr-xl-3 unloaded"></i>
                    <span>{{ entry.title | upcase }}</span>
                </a>
            </li> <!-- .nav-item -->
        {% else %}
            <!-- This is a folder -->
            {% assign active_folder = false %}
            {% for item in entry.folderitems %}
                {% if item.url == page_url %}
                    {% assign active_folder = true %}
                {% endif %}
            {% endfor %}
            
            {% if active_folder %}
            <li class="nav-item" id="{{ FOLDER_TRIGGER_PREFIX }}{{ entry_index }}">
                <a href="#{{ NAV_LIST_PREFIX }}{{ entry_index }}" data-toggle="collapse" aria-expanded="true"
                aria-label="{{ FOLDER_TRIGGER_PREFIX }}{{ entry_index }}-trigger"
                class="nav-link sidebar-navigation-trigger">
                    <i class="fa-fw {{ entry.icon }} ml-xl-3 mr-xl-3 unloaded"></i>
                    <span>{{ entry.title | upcase }}</span>
                    <i class="fas fa-fw fa-angle-right nav-arrow sidebar-navigation-rotate"></i>
                </a>
                <!-- Items in the folder -->
                <div class="nav-sub-folder">
                    <div id="{{ NAV_LIST_PREFIX }}{{ entry_index }}" class="collapse show" aria-expanded="true">
                        <ul class="nav-sub-folder-contents">
                            {% for item in entry.folderitems %}
                            <li class="nav-item{% if item.url == page_url %}{{ " active" }}{% endif %}">
                                <a href="{{ item.url | relative_url }}" class="nav-link">
                                    <span>{{ item.title | upcase }}</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% else %}
            <li class="nav-item" id="{{ FOLDER_TRIGGER_PREFIX }}{{ entry_index }}">
                <a href="#{{ NAV_LIST_PREFIX }}{{ entry_index }}" data-toggle="collapse" aria-expanded="false"
                aria-label="{{ FOLDER_TRIGGER_PREFIX }}{{ entry_index }}-trigger"
                class="nav-link sidebar-navigation-trigger">
                    <i class="fa-fw {{ entry.icon }} ml-xl-3 mr-xl-3 unloaded"></i>
                    <span>{{ entry.title | upcase }}</span>
                    <i class="fas fa-fw fa-angle-right nav-arrow"></i>
                </a>
                <!-- Items in the folder -->
                <div class="nav-sub-folder">
                    <div id="{{ NAV_LIST_PREFIX }}{{ entry_index }}" class="collapse" aria-expanded="false">
                        <ul class="nav-sub-folder-contents">
                            {% for item in entry.folderitems %}
                            <li class="nav-item{% if item.url == page_url %}{{ " active" }}{% endif %}">
                                <a href="{{ item.url | relative_url }}" class="nav-link">
                                    <span>{{ item.title | upcase }}</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </li> <!-- .nav-item -->
        {% endif %}
        {% assign entry_index = entry_index | plus: 1 %}
    {% endfor %}

  </ul> <!-- ul.nav.flex-column -->