---
layout: page
# The timeline of the carbon cub build.
---


<div id="build-timeline" class="pl-xl-2">
{% assign build_log_posts = site.posts | where: "layout", "build_log_post" %}
{% for post in build_log_posts %}
  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% capture this_month %}{{ post.date | date: "%b" }}{% endcapture %}
  {% capture this_day %}{{ post.date | date: "%d" }}{% endcapture %}

  {% assign next_index = forloop.index0 | plus: 1 %}
  {% assign next_year = build_log_posts[next_index].date | date: "%Y" %}
  {% assign next_month = build_log_posts[next_index].date | date: "%b" %}

  {% if forloop.first %}
    {% assign last_day = "" %}
    {% assign last_month = "" %}
  <span class="lead">{{this_month}} {{this_year}}</span>
  <ul class="list-unstyled">
  {% endif %}
    <li>
      <div>
        <span class="date day">{{ this_day }}</span>
        <span class="date month small text-muted">{{ this_month }}</span>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </div>
    </li>
  {% if forloop.last %}
  </ul>
  {% elsif this_year != next_year or this_month != next_month %}
  </ul>
  <span class="lead">{{next_month}} {{next_year}}</span>
  <ul class="list-unstyled">
    {% assign last_day = "" %}
    {% assign last_month = "" %}
  {% endif %}
{% endfor %}
</div>
