---
layout: page
# All the Categories of build log posts
---


{% assign HEAD_PREFIX = "h_" %}
{% assign LIST_PREFIX = "l_" %}

{% assign group_index = 0 %}

{% assign sort_categories = site.categories | sort %}
{% assign build_log_categories = '' | split: '' %}
{% for category in sort_categories %}
  {% assign category_name = category | first %}
  {% assign posts_of_category = category | last %}
  {% assign first_post = posts_of_category | first %}
  {% if first_post.categories[0] == "Carbon Cub Build" %}
    {% assign build_log_categories = build_log_categories | push: category %}
  {% endif %}
{% endfor %}

{% for category in build_log_categories %}
  {% assign category_name = category | first %}
  {% assign posts_of_category = category | last %}
  {% assign first_post = posts_of_category | first %}

  <!-- This should always be true because we filter the list down to just these categories -->
  {% if first_post.categories[0] != "Carbon Cub Build" %}
    {% continue %}
  {% endif %}

  {% if category_name == first_post.categories[1] %}
    {% assign sub_categories = "" | split: "" %}

    {% for post in posts_of_category %}
      {% assign second_category = post.categories[2] %}
      {% if second_category %}
        {% unless sub_categories contains second_category or second_category == category_name %}
          {% assign sub_categories = sub_categories | push: second_category %}
        {% endunless %}
      {% endif %}
    {% endfor %}

    {% assign sub_categories = sub_categories | sort %}
    {% assign sub_categories_size = sub_categories | size %}

  <div class="card categories">
    <!-- top-category -->
    <div class="card-header d-flex justify-content-between hide-border-bottom"
        id="{{ HEAD_PREFIX }}{{ group_index }}">
      <span>
      {% if sub_categories_size > 0 %}
        <i class="far fa-folder-open fa-fw"></i>
      {% else %}
        <i class="far fa-folder fa-fw"></i>
      {% endif %}
        <a href="{{ site.baseurl }}/categories/{{ category_name | slugify | url_encode }}/"
          class="ml-1 mr-2">
          {{ category_name }}
        </a>

        <!-- content count -->
        {% assign build_posts = '' | split: '' %}
        {% assign category_hours = 0 %}
        {% for current_post in site.categories[category_name] %}
          {% if current_post.layout == "build_log_post" %}
            {% assign build_posts = build_posts | push: current_post %}
            {% assign post_hours = current_post.hours | default: 0 %}
            {% assign category_hours = category_hours | plus: post_hours %}
          {% endif %}
        {% endfor %}
        {% assign top_posts_size = build_posts | size %}
        <span class="text-muted small font-weight-light">
            {{ top_posts_size }}
            post{% if top_posts_size > 1 %}s{% endif %},
            {{ category_hours }}
            hour{% if category_hours != 1 %}s{% endif %}
        </span>
      </span>

      <!-- arrow -->
      {% if sub_categories_size > 0%}
      <a href="#{{ LIST_PREFIX }}{{ group_index }}" data-toggle="collapse"
        aria-expanded="true" aria-label="{{ HEAD_PREFIX }}{{ group_index }}-trigger"
        class="category-trigger hide-border-bottom">
        <i class="fas fa-fw fa-angle-down"></i>
      </a>
      {% else %}
      <span data-toggle="collapse" class="category-trigger hide-border-bottom disabled">
        <i class="fas fa-fw fa-angle-right"></i>
      </span>
      {% endif %}

    </div> <!-- .card-header -->

    <!-- Sub-categories -->
    {% if sub_categories_size > 0 %}
    <div id="{{ LIST_PREFIX }}{{ group_index }}" class="collapse show" aria-expanded="true">
      <ul class="list-group">
        {% for sub_category in sub_categories %}
        <li class="list-group-item">
          <i class="far fa-folder fa-fw"></i>
          <a href="{{ site.baseurl }}/categories/{{ sub_category | slugify | url_encode }}/"
            class="ml-1 mr-2">{{ sub_category }}</a>
          {% assign build_posts = '' | split: '' %}
          {% assign category_hours = 0 %}
          {% for current_post in site.categories[sub_category] %}
            {% if current_post.layout == "build_log_post" %}
              {% assign build_posts = build_posts | push: current_post %}
              {% assign post_hours = current_post.hours | default: 0 %}
              {% assign category_hours = category_hours | plus: post_hours %}
            {% endif %}
          {% endfor %}
          {% assign posts_size = build_posts | size %}
          <span class="text-muted small font-weight-light">{{ posts_size }}
            post{% if posts_size > 1 %}s{% endif %},
            {{ category_hours }}
            hour{% if category_hours != 1 %}s{% endif %}
          </span>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

  </div> <!-- .card -->

    {% assign group_index = group_index | plus: 1 %}

  {% endif %}
{% endfor %}
